body {
    width: 100vw;
    height: 100vh;
    // width: 1024px;
    // height: 768px;

    display: table-cell;
    vertical-align: middle;

    font-family: 'Roboto', sans-serif;
    background-color: #004980;

    margin: 0;
    padding: 0;
}

.basic-text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #004980;
    text-align: center;
}

.basic-button {
    width: 246px;
    height: 48px;

    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    text-align: center;

    background: #7ac100;
    border-radius: 12px;
    border: none;
}

.basic-button:hover {
    cursor: pointer;
    background: #619900;
}
